@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* { margin: 0; padding: 0; }

html {
    font-size: 12px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

logo {
  background: url("logo.svg") no-repeat 0 0px;
  height: 128px;
  padding-left: 100px;
  display: inline-block;
  background-size: contain;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  line-height: 8rem;
  font-weight: bold;
  color: #34437a;
  position: relative;
  margin-bottom: 1rem;
}
logo:after {
  content: 'Democracy for all';
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
  display: block;
  position: absolute;
  top: 3rem;
  left: 50%;
}

  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    html {
      font-size: 16px;
    }
  }
  
  body {
    line-height: 1.85;
  }
  
  p,
  .air-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  
  h1,
  .air-h1,
  h2,
  .air-h2,
  h3,
  .air-h3,
  h4,
  .air-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  h1,
  .air-h1 {
    margin-top: 0;
    font-size: 3rem;
  }
  
  h2,
  .air-h2 {
    font-size: 2.827rem;
  }
  
  h3,
  .air-h3 {
    font-size: 1.999rem;
  }
  
  h4,
  .air-h4 {
    font-size: 1.414rem;
  }
  
  h5,
  .air-h5 {
    font-size: 1.121rem;
  }
  
  h6,
  .air-h6 {
    font-size: .88rem;
  }
  
  small,
  .air-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);
  
  body {
    color: #444;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    margin: 1rem auto 1rem;
    max-width: 80vw;
    text-align: center;
  }
  
  img {
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    width: 200px;
  }
  
  a,
  a:visited {
    text-decoration: none;
    display: inline-block;
  }
    
  pre {
    background-color: #fafafa;
    padding: 1rem;
    text-align: left;
  }
  
  blockquote {
    margin: 0;
    border-left: 5px solid #7a7a7a;
    font-style: italic;
    padding: 1.33em;
    text-align: left;
  }
  
  ul,
  ol,
  li {
    text-align: left;
  }
  
  p {
    color: #000;
  }

body { padding: 1em; }

div.user {
    position: fixed;
    top: 10px;
    right: 20px;
    text-decoration: none;
    color: #000;
}
div.user span {
  position: relative;
  z-index: 2;
}
div.user ul
{
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.6s;
  transform: translateY(-100%);
  padding: 1em;
  border-radius: 10px;
  background: #EEE;
  z-index: -1;
  margin: 0 -1em;
}
div.user:hover ul
{
  max-height: 25em;
  transform: translateY(0);
}
div.user ul li a 
{
  color: black;
}
div.user ul li:first-child {
  margin-top: 1em;
  transition: all ease 0.6s;
}
div.user:hover ul li:first-child {
  margin-top: 0em;
}
div.user ul li a::before {
  color: #800;
  font-size: 1.1em;
  width: 1.6rem;
  display: inline-block;
}
div.user ul li:first-child a::before {
  content: "⚙";
  font-size: 1.4em;
}
div.user ul li:last-child a::before {
  content: "✘";
}
div.user ul li a:hover {
  color: #800;
  transition: all ease 0.5s;
}

div.dialog
{
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 1em;
}
div.dialog i {
    margin: 1em auto;
    display: block;
}

.h { display: none }
ul {
    list-style-type: none;
}
ul.form li 
{
    height: 2em;
}
ul.form li span
{
    display: inline-block;
    width: 50%;
    height: 1em;
    box-sizing: border-box;
}
ul.form {
    width: 80%;
    margin: auto;
    background: #F0F0F0;
    padding: 1em;
    border-radius: 10px;
}
ul.form li span:first-child {
    text-align: right;
    padding-right: 0.4em;
    font-weight: 100;
}
ul.form li span:first-child::after {
    content: '\25ba';
    color: #CCC;
    font-size: 0.7em;
    padding-left: 0.4em;
}
ul.form li span:last-child input {
    height: 1.41em;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1em;
    outline: none !important;
    width: 60%;
}
ul.form li span input:focus {
    border-bottom: 2px solid #008;
}
ul.form button, .downHeader2 button {
    padding: 0.1em 5em;
    margin: 1em auto;
    display: block;
    height: 2em;
    border: none;
    background: #FCFCFC;
    border-radius: 10px;
    font-size: 0.9em;
    box-shadow: 0 0 5px #CCC;
    transition: all 0.3s;
    font-weight: bold;
}
ul.form button:hover {
    background: #FFF;
    box-shadow: 0 0 5px #888;
    color: #008;
}
.downHeader2 button:disabled {
  background: #EEE;
  color: #BBB;
}

#polls, #votes {
    max-width: 100vw;
    margin: 1.2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    background: #94A9BB;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 0 5px inset;
}

.pollList, .voteList {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 -5px 3px rgba(0,0,0,0.1) inset,0 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 -5px 3px rgba(0,0,0,0.1) inset,0 3px 3px rgba(0,0,0,0.2);
    padding: 30px 0.5rem;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 48rem) {
  #polls, #votes {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 1em;
  }
  .pollList, .voteList {
    padding: 30px;
  }
}
@media screen and (min-width: 60rem) {
  .voteList.notActive {
    filter: blur(1px);
  }
}
@media screen and (max-width: 60rem) {
  .voteList.notActive * {
    color: #BBB !important;
    -webkit-text-stroke-color: #666 !important;
  }
}
.pollList deadline {
    position: absolute;
    transform: rotateZ(-45deg);
    background: #AAE1AA;
    left: -120px;
    top: 10px;
    font-size: 80%;
    width: 300px;
    box-shadow: 0 2px 4px #AAA;
    line-height: 1.4em;
}
.pollList deadline.passed {
    background: #E1AAAA;
}

.downHeader h1 {
    font-size: 1.414rem;
}

.downHeader h2, .downHeader2 h1 {
  font-size: 1.4rem;
  white-space: nowrap;
  font-weight: 400;
}

.downHeader h3, .downHeader2 h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.downHeader h4, .downHeader2 h3 {
  font-size: 0.88rem;
}

.downHeader h5, .downHeader2 h4 {
    font-size: 0.88rem;
}

.downHeader h6, .downHeader2 h5, .downHeader2 h6 {
    font-size: .88rem;
}

.downHeader > h1 {
    font-size: 1.6rem;
    font-weight: 400;
}
.downHeader2 > h1 {
    font-size: 2.6em;
}

.downHeader2 ul, .downHeader2 ol {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  color: #444;
}
.downHeader2 {
  text-align: justify;
}

[data-href] {
  cursor: pointer;
}
.loadVote {
    background: #65B7FD;
    border-radius: 10px;
    color: #FFF;
    width: max-content;
    padding: 0 2em;
    margin: 1em auto 0 auto;;
    cursor: pointer;
    transition: all ease 0.3s;    
}
.loadVote:hover::before {
    padding-right: 0.3em;
    padding-left: 0.7em;
    color: #EEE44A;
    text-shadow: 0 0 5px #FFF;
}
.loadVote::before {
    content: "\25B6";
    padding-right: 1em;
    font-size: 0.8rem;
    transition: all ease 0.3s;
}
.loadVote:hover {
    background: #3D86C6;
}

div.participant title {
    font-weight: bold;
    display: block;
}
div.participant ul {
    margin: auto;
    background: #CDDEEC;
    padding: 0 2em;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
div.participant li {
    display: inline-block;
}
div.participant ul > li:not(:last-child)::after {
    content: "\00b7";
    margin: 0 .4em;
}
div.participant li.current {
    font-weight: 500;
}
div.participant {
    width: 48%;
    float: left;
    margin: 0 0.5%;
}
hr {
    clear: both;
    border: none;
}

div.rating input {
    display: none;
}
div.rating label::before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171 164"><path fill="none" stroke="%23000" stroke-linecap="round" stroke-width="7" d="M167 61c1 3-53 34-53 37-1 3 26 58 24 60-3 2-49-40-52-40-3 1-47 44-49 42-3-2 22-58 21-61S3 67 4 65c0-3 62 3 64 1 3-1 13-62 16-62 3-1 16 60 18 62 3 1 64-8 65-5z" opacity=".9"/></svg>');
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    content: '';
    margin-right: 1px;
    transition: all ease 0.3s;
}
div.rating input:checked ~ label::before, 
div.rating:not(:checked) > label:hover::before, 
div.rating:not(:checked) > label:hover ~ label::before
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 171 164"><defs><linearGradient id="d"><stop offset="0" stop-color="%237f5716"/><stop offset=".4" stop-color="%23e1d3b8"/><stop offset=".5" stop-color="%23f4e2bd"/><stop offset=".5" stop-color="%23c4ab75"/><stop offset="1" stop-color="%23876616"/></linearGradient><linearGradient id="c"><stop offset="0" stop-color="%23865b17"/><stop offset=".6" stop-color="%23f9f4ec"/><stop offset=".8" stop-color="%23d1a45a"/><stop offset=".8" stop-color="%23faf2e4"/><stop offset="1" stop-color="%237f5716"/></linearGradient><linearGradient id="b"><stop offset="0" stop-color="%237f5716"/><stop offset=".5" stop-color="%23c8a362"/><stop offset=".6" stop-color="%23f6e5ca"/><stop offset="1" stop-color="%237f5716"/></linearGradient><linearGradient id="a"><stop offset="0" stop-color="%237f5716"/><stop offset=".2" stop-color="%23ede6db"/><stop offset=".2" stop-color="%239b7945"/><stop offset=".3" stop-color="%23f9f0df"/><stop offset="1" stop-color="%23876616"/></linearGradient><linearGradient id="h" x1="378" x2="680.6" y1="627" y2="832.8" gradientUnits="userSpaceOnUse" xlink:href="%23a"/><linearGradient id="f" x1="275.8" x2="378" y1="700.5" y2="627" gradientUnits="userSpaceOnUse" xlink:href="%23b"/><linearGradient id="e" x1="378" x2="273" y1="1052.7" y2="704.2" gradientUnits="userSpaceOnUse" xlink:href="%23c"/><linearGradient id="g" x1="378" x2="680.1" y1="1052.7" y2="833.2" gradientUnits="userSpaceOnUse" xlink:href="%23d"/></defs><g stroke-width=".5"><path fill="url(%23e)" d="M273 704C249 725 75 833 75 833s231-18 240-12c9 7 63 232 63 232V737z" opacity=".9" transform="scale(-.26458 .26458) rotate(-35 -612 1665)"/><path fill="url(%23f)" d="M273 704l105 33V627c-11 0-187-150-187-150-8-8 88 214 85 224l-3 3z" opacity=".9" transform="scale(-.26458 .26458) rotate(-35 -612 1665)"/><path fill="url(%23g)" d="M378 737v316s54-225 63-232c9-6 229 21 239 12z" opacity=".9" transform="scale(-.26458 .26458) rotate(-35 -612 1665)"/><path fill="url(%23h)" d="M378 737l302 96h1S484 712 480 701c-3-10 85-224 85-224L378 627z" opacity=".9" transform="scale(-.26458 .26458) rotate(-35 -612 1665)"/></g><path fill="none" stroke="%23000" stroke-linecap="round" stroke-width="7" d="M167 61c1 3-53 34-53 37-1 3 26 58 24 60-3 2-49-40-52-40-3 1-47 44-49 42-3-2 22-58 21-61S3 67 4 65c0-3 62 3 64 1 3-1 13-62 16-62 3-1 16 60 18 62 3 1 64-8 65-5z" opacity=".9"/></svg>');
    background-size: 32px 32px;
}
div.rating label 
{
    position: relative;
    float: right;
}
div.rating:hover label::before {
    filter: blur(1px);
}
div.rating:not(:checked) > label:hover ~ label::before, 
div.rating:not(:checked) > label:hover::before {
    filter: blur(0px);
}
div.rating {
    width: max-content;
    height: 2em;
    margin: auto;
}
div.voteList > h1:first-child {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px #800;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    -moz-text-stroke-color: #000;
    color: #FEE;
}
.descVote {
    text-align: left;
    margin-top: 1em;
}
#votes {
    margin: 2em auto;
}
.downHeader2 button { background: #CCDCEA; height: 4rem; }
.downHeader2 button:hover {
    background: #C1D7EA;
    box-shadow: 0 0 5px #888;
    color: #000;
}
.downHeader2 button::after {
  content: "➤➤";
  margin-left: 1em;
}
.voteList.notActive {
    background: #DDD;
    transition: all ease 0.3s;
}
button.flash {
    animation: blinker 1.5s linear 5;
}
@keyframes blinker {
    50% {
        box-shadow: 0 0 8px #800;
    }
}
#winner span {
  font-weight: bold;
  text-transform: capitalize;
}
#winner {
  font-size: 2em;
  margin: 1em;
}
#voteResults li {
  height: 3em;
  position: relative;
}
#voteResults li span {
  z-index: 2;
  position: relative;
  text-transform: capitalize;
  margin-left: 1em;
  font-weight: 400;
  line-height: 1.7em;
  font-size: 1.2em;
}
progress {
  position: absolute;
  height: 2em;
  border-radius: 10px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: #f1f1f1;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.3);
  border: none;
}
progress[value]::-webkit-progress-bar {
  background: #f1f1f1;
  box-shadow:  0 2px 5px 0px rgba(0,0,0,0.3);
  border-radius: 10px;
}
progress[value]::-webkit-progress-value { 
  background: linear-gradient(to right, #EDF0F2 0%, #ADCFEC 100%);
  border-radius: 10px; 
  box-shadow: 0 0 5px #444;
}
progress[value]::-moz-progress-bar { 
  background: linear-gradient(to right, #EDF0F2 0%, #ADCFEC 100%);
  border-radius: 10px; 
  box-shadow: 0 0 5px #444;
}
value::after {
  content: " / " attr(data-max);
  font-size: 0.6em;
  font-weight: lighter;
  margin-left: 0.1em;
}
value {
  position: absolute;
  right: 10px;
  font-size: 2em;
  top: -0.4em;
  text-align: left;
  width: max-content;
}
.voteResult { 
  margin-top: 1em;
  transition: all ease 0.6s;
  color: #444;
}
.voteResult::before {
  content: '';
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M62 32S52 52 32 52 2 32 2 32s10-20 30-20 30 20 30 20' fill='%23231f20'/%3E%3Cpath d='M57 32s-8 17-25 17S7 32 7 32s8-17 25-17 25 17 25 17z' fill='%23fff'/%3E%3Cpath d='M45 32c0 8-6 14-13 14-8 0-14-6-14-14 0-7 6-13 14-13 7 0 13 6 13 13' fill='%2342ade2'/%3E%3Cpath d='M39 32c0 4-3 8-7 8s-8-4-8-8 4-7 8-7 7 3 7 7' fill='%23231f20'/%3E%3C/svg%3E") no-repeat 0 0.2em;
  height: 1.1em;
  display: inline-block;
  width: 1.1em;
  margin-right: 0.5em;
  filter: grayscale(1);
  transition: all ease 0.6s;
  opacity: 0.5;
}
.voteResult:hover { color: #000; }
.voteResult:hover::before { filter: grayscale(0); opacity: 1;}
.back::before {
  content: "❮❮❮";
  color: black;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 0em;
  transition: all cubic-bezier(0.64, 0.57, 0.67, 1.53) 0.25s;
}
.back:hover::before {
  letter-spacing: -.1em;
}
.back {
  color: transparent;
  font-size: 2em;
  position: fixed;
  top: 10px;
  left: 10px;
  line-height: 1em;
}
a.noJS {
  display: block;
  font-weight: 500;
}
#errMsg {
  background: #FCC;
  position: fixed;
  top: 50%;
  height: 2em;
  left: 25%;
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 15px #800;
  font-weight: 400;
  display: none;
}
#errMsg.error {
  display: block;
}
#errMsg span {
  text-transform: capitalize;
  font-weight: bold;
}

table.help, table.admin, table.voteMatrix, div.admin {
  margin: auto;
  border: 1px solid;
  border-collapse: collapse;
  width: max-content;
}
table.help thead tr, table.voteMatrix thead tr, table.admin tr, div.admin div.tr, div.admin form.tr {
  border-bottom: 1px solid black;
}
table.help td, table.voteMatrix td, table.voteMatrix th {
  padding: 0 2em;
}
table.voteMatrix tr th:first-child {
  border-right: 1px solid black;
}
table.admin td, div.admin .td {
  padding: 0 0.2em;
}
div.table {
  display: table;
}
div.tr, form.tr {
  display: table-row;
}
span.td, span.th {
  display: table-cell;
}
div.tr.head {
  font-weight: bold;
}
div.leftAlign {
  text-align: left;
}
div.leftAlign ul
{
  margin: 1em auto;
  width: 90%;
}
div.leftAlign ul li.winner::after {
  content: "✓";
  color: #080;
  padding-left: 0.2em;
}
div.leftAlign ul li.winner {
  font-weight: 500;
}
footer {
  position: fixed;
  bottom: 1px;
  right: 10px;
  font-size: 0.7em;
}
help {
  color: #888;
}
help a.noJS {
  border-radius: 50%;
  border: 2px solid #008;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #008;
  font-family: monospace;
  display: inline-block;
  text-align: center;
}
help a.noJS:hover {
  color: #FFF;
  background: #008;
}
div.binary input[type="radio"] + label::before {
  font-size: 2rem;
  filter: grayscale(1);
  transition: all ease 0.3s;
}
div.binary input[type="radio"] {
  display: none;
}
div.binary input[value="1"] + label::before {
  content: "👍";
}
div.binary input[value="0"] + label::before {
  content: "👎";
}
div.binary input:checked + label::before {
  filter: grayscale(0);
}
div.binary input[type="radio"] + label:hover::before {
  filter: grayscale(0) blur(0);
}
div.binary:hover label {
  filter: blur(1px);
}
div.binary label {
  height: 2rem;
  display: inline-block;
}
div.binary {
  height: 2rem;
  padding: 0;
  width: max-content;
  margin: 0 auto;
}
div.binary:hover input:checked + label, div.binary:hover label:hover {
  filter: none;
}
/*
toolbar {
  position: relative;
  width: 30rem;
  display: block;
}
*/

toolbar icon {
  display: inline-block;
  cursor: pointer;
  width: 5rem;
  overflow: hidden;
  height: 3rem;
  transition: all 0.4s;
  white-space: nowrap;
  position: relative;
  color: transparent;
}
toolbar icon::before {
  font-size: 2rem;
  width: 1em;
  display: block;
  position: absolute;
  left: 30%;
  color: black;
  top: 0.5rem;
  height: 2rem;
}
toolbar icon:hover {
  color: black;
}
toolbar icon:hover::before {
  text-shadow: 1px 1px 1px #888;
}
icon.sendemail::before {
  content: '✉';
}
icon.edit::before {
  content: '✎';
}
icon.delete::before {
  content: '✘';
}
div.admin ul li:nth-child(2n+1) {
  background: #EEE;
}
div.admin ul li {
  min-width: 25em;
  height: 2rem;
  line-height: 2rem;
}
div.admin ul {
  border: 1px solid #DDD;
  border-width: 0 1px;
}
div.admin ul li select {
  width: 100%;
  height: 100%;
}
div.admin option[default] {
  display: none;
}
.downHeader2 help + h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 3.5em;
  font-style: italic;
}
table.voteMatrix span.vote0::before {
  content: "✘";
  color: red;
}
table.voteMatrix span.vote1::before {
  content: "✓";
  color: green;
}
