<h3>Please select the poll to vote for</h3>
<div id="polls">
{% for poll in polls %}
  <div class="pollList">
    <h1>{{poll.name}}</h1>
    <div>{{poll.desc | safe}}</div>
    <p><a href="/vote_for/{{poll.filepath}}">Select this poll to vote</a></p>
    <due class="{% if poll.due_near %}passed{% endif %}">Due<br/>{{poll.due_date}}</due>
  </div>
{% endfor %}
</div>
</form>